<div class="community text-center">
  <div class="image-wrapper">
    <img src="assets/images/community.svg" alt="community">
  </div>
  <p>
    Until we build our own let's use telegram/whatsapp!
  </p>
  <div class="community-links py-3">
    <p class="p-2">
      <span> Telegram: <a href="https://t.me/wethesapiens" target="_blank">Join Here!</a></span>
      <span class="d-block secondary-text fs-14"> Mostly technical content</span>
      <span class="d-block secondary-text fs-14"> (recommended for those based out of india)</span>
    </p>
    <p class="p-2">
      <span> Whatsapp: <a href="https://chat.whatsapp.com/C53vQFq6BQN3QXNNCxLRjX" target="_blank">Click here to join</a></span>
      <span class="d-block secondary-text fs-14">Genric content</span>
      <span class="d-block secondary-text fs-14">(indian majority)</span>
    </p>
  </div>

</div>
