<div class="the-scroll-wrapper">

  <div class="scroll">
    <div class="scroll-picture">
      <img src="https://pbs.twimg.com/media/ExGzBl_UUAA3qIS?format=jpg&name=medium" alt="author-image">
    </div>
    <div class="scroll-content">
      <span class="d-block fs-18">"There’s nothing quite as frightening as someone who knows they are right." </span>
      <span class="d-block py-3 fs-14"> – Michael Faraday</span>
      <span class="d-block pt-5 fs-12 secondary-text"> Michael Faraday FRS was an English scientist who contributed to
        the study of electromagnetism and electrochemistry.</span>
    </div>
  </div>

  <div class="action-gesture">
    <!-- refactor: this should be a reusable component -->
    <button class="gesture-button" #leftChevron mat-button (click)="changePageView('gotoPreviousView')">
      <mat-icon>chevron_left</mat-icon>
    </button>

    <button class="gesture-button"#rightChevron mat-button (click)="changePageView('gotoNextView')">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>

</div>
