<div class="the-scroll-wrapper">

  <div class="scroll" *ngFor="let view of viewContent; let i=index" (swipeleft)="swipe(i, $event.type)"
    (swiperight)="swipe(i, $event.type)" [view.visible]="view.visible" [class.hidden]="!view.visible">
    <div class="scroll-picture">
      <img [src]="view.viewImage" [alt]="view.viewAuthor">
    </div>
    <div class="scroll-content">
      <span class="d-block primary-font"> {{view.viewPrimaryContent}} </span>
      <span class="d-block py-3 secondary-font"> – {{view.viewAuthor}} </span>
      <span class="d-block pt-4 secondary-text tertiary-font"> {{view.viewSecondaryContent}}</span>
    </div>
  </div>

  <div class="action-gesture text-center">
    <!-- refactor: this should be a reusable component -->
    <button class="gesture-button" #leftChevron mat-button (click)="changePageViewButtonClick('gotoPreviousView')">
      <mat-icon>chevron_left</mat-icon>
    </button>

    <button class="gesture-button" #rightChevron mat-button (click)="changePageViewButtonClick('gotoNextView')">
      <mat-icon>chevron_right</mat-icon>
    </button>

    <section id="gestureMessage" class="secondary-text" style="font-size: 12px !important;">
      {{gestureInstruction}}
    </section>
  </div>

</div>
