.discipline {
  .showcase-wrapper {

    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    .showcase-card {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 130px;
      width: 130px;
      border-radius: 8px;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
      font-size: 1.25em;
      color: rgb(255, 255, 255, 0.95);
      font-weight: 700;
      padding: 0.5em;
      margin: 0.5em;

      cursor: pointer;

      &:hover {
        transform: scale(1.05);
        color: #ffffff;
        transition: transform 300ms ease-in-out;
      }
    }

    .card-style-0{
      background-image: linear-gradient(to right top, #d65db1, #d05dad, #cb5eaa, #c55ea6, #c05ea2)
    }

    .card-style-1{
      background-image: linear-gradient(to right top, #ff6f91, #fd7092, #fc7292, #fa7393, #f87493);
    }

    .card-style-2{
      background-image: linear-gradient(to right top, #ff9671, #ff946e, #ff926b, #ff8f68, #ff8d65);
    }

    .card-style-3{
      background-image: linear-gradient(to right top, #ffc75f, #fdc55e, #fbc45c, #fac25b, #f8c059);
    }
  }


}
