<div class="discipline">
  <div class="showcase-wrapper">
    <div class="showcase-card text-center" style="background-color: #efdecd;">
      <span>game theory</span>
    </div>
    <div class="showcase-card text-center" style="background-color: #cdefd2;">
      <span>quantum physics</span>
    </div>
    <div class="showcase-card text-center" style="background-color: #efcdcd;">
      <span>game theory</span>
    </div>
    <div class="showcase-card text-center" style="background-color: #d0d0d0;">
      <span>coming soon!</span>
    </div>
  </div>
  <div class="message secondary-text text-center p-3">
    <span class="d-block"> i'll add a new discipline after every two weeks of research.</span>
    <span class="d-block fs-18"> appreciate your patience!</span>
  </div>
</div>
