<div class="discipline">
  <div class="showcase-wrapper">
    <div class="showcase-card text-center card-style-0" (click)="openSnackBar()" >
      <span>game theory</span>
    </div>
    <div class="showcase-card text-center card-style-1" (click)="openSnackBar()" >
      <span>quantum physics</span>
    </div>
    <div class="showcase-card text-center card-style-2" (click)="openSnackBar()" >
      <span>mental models</span>
    </div>
    <div class="showcase-card text-center card-style-3" (click)="openSnackBar()" >
      <span>...and more coming soon!</span>
    </div>
  </div>
  <div class="message text-center p-5">
    <span class="d-block fs-14"  style="color: #777777"> I'll be adding a new discipline after every three weeks of research.</span>
    <span class="d-block fs-12 py-2"  style="color: #777777"> (beginner, intermediate and advance level)</span>
    <span class="d-block fs-16 py-4 secondary-text"> appreciate your patience!</span>
  </div>
</div>
