<div class="other p-4 fs-14">
  <div class="space-wrapper p-3 m-3">
    <div class="vision">
      <h4 class="heading">
        Vision
      </h4>
      <section class="content text-justify pt-1">
        <h6 class="pt-2">1. Knowledge </h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam similique aliquid voluptatibus quisquam eum rem tempora necessitatibus consequatur est tempore animi ut, nihil blanditiis velit cum voluptas totam! Mollitia, harum.</p>
        <h6 class="pt-2">2. Ideas from highly influential people</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam similique aliquid voluptatibus quisquam eum rem tempora necessitatibus consequatur est tempore animi ut, nihil blanditiis velit cum voluptas totam! Mollitia, harum.</p>
      </section>
    </div>
  </div>
  <div class="space-wrapper p-3 m-3">
    <div class="feedack">
      <h4 class="heading">
        Feedback
      </h4>
      <section class="content text-justify pt-1">
        <p >For any product feedback, bugs or issues: <a style="color: #666666; text-decoration: underline;" href="https://github.com/pagarevijayy/wts-feedback-repo" target="_blank">github</a>
          or <a style="color: #666666; text-decoration: underline;" href="mailto:wethesapiens.brand@gmail.com" target="_blank"> email</a> or just DM.
        </p>
        <p> </p>
      </section>
    </div>
    <div class="disclaimer pt-3">
      <h4 class="heading">
        Disclaimer
      </h4>
      <section class="content text-justify pt-1">
        <p>This site contains curated content for educational and entertainment purposes. We've tried our best to mention credits wherever possible.</p>
        <p>In case you are a copyright holder and feel infringed, please mail us with the details of content in question. We will take it down.</p>
        <p>(email: wethesapiens.brand@gmail.com)</p>
      </section>
    </div>
  </div>
</div>
